@import url('http://fonts.googleapis.com/css?family=Finger+Paint');
@import url('http://fonts.googleapis.com/css?family=Oregano');
@import url('http://fonts.googleapis.com/css?family=Simonetta:600');

::selection{
	background-color: rgba(0,0,0,.2);
}
body
{
	background-image: url('../../resource/textura/decorative.jpg');
}
header h1
{
	background: -webkit-gradient(linear,left top, left bottom, from(#C20303), to(#F3D422));
	background: -moz-gradient(linear,left top, left bottom, from(#C20303), to(#F3D422));
	background: -o-gradient(linear,left top, left bottom, from(#C20303), to(#F3D422));
	background: -ms-gradient(linear,left top, left bottom, from(#C20303), to(#F3D422));
	background: gradient(linear,left top, left bottom, from(#C20303), to(#F3D422));
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-o-text-fill-color: transparent;
	-ms-text-fill-color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	-ms-background-clip: text;
	border-style: hidden;
	font-family: 'Finger Paint', cursive;
	font-style: oblique;
	font-size: 3em;
	font-weight: bold;
	padding: 30px;
	position: absolute;
	width: 400px;
}
#tabs
{
	border-radius: 1em 1em 0em 0em;
	left: 50%;
	height: 6em;
	margin: 0 auto;
	margin-left: -10em;
	margin-right: -2em;
	padding-top: 2em;
	position: absolute;
	top: 30%;
	width: 26em;
}
#tabs img{ height: 20px; width: 20px; }
#tabs ul li
{
	border-radius: .5em;
	display: inline-block;
	padding-left: .5em;
	padding-right: .5em;
	vertical-align: .5em;
}
#tabs nav ul li a{
	color: rgba(31,59,8,.9);
	/*font-family: 'Peralta', cursive;*/
	font-family: 'Oregano', cursive;
	font-size: 1.5em;
	text-decoration: none;
}
#tabs nav ul
{
	margin-left: -2em;
	text-align: center;
}
#t1{ background-color: rgba(143,200,0,1); }
#t2{ background-color: rgba(53,106,160,1); }
#t3{ background-color: rgba(255,255,136,1); }
#t4{ background-color: rgba(247,150,33,1); }
#t5{ background-color: rgba(229,230,150,1); }
ul li a{
	color: rgb(0,0,0);
	font-family: 'Simonetta', cursive;
	text-decoration: none;
}
#tabs-1
{
	background-color: rgba(143,200,0,1);
	border-radius: 0em 0em 1em 1em;
	margin-top: -.5em;
	padding: 1em;
	padding-left: 1em;
	width: 24em;
}
#tabs-2
{
	background-color: rgba(53,106,160,1);
	border-radius: 0em 0em 1em 1em;
	margin-top: -.5em;
	padding: 1em;
	padding-left: 1em;
}
#tabs-3
{
	background-color: rgba(255,255,136,1);
	border-radius: 0em 0em 1em 1em;
	margin-top: -.5em;
	padding: 1em;
	padding-left: 1em;
}
#tabs-4
{
	background-color: rgba(247,150,33,1);
	border-radius: 0em 0em 1em 1em;
	margin-top: -.5em;
	padding: 1em;
	padding-left: 1em;
}
#tabs-5
{
	background-color: rgba(229,230,150,1);
	border-radius: 0em 0em 1em 1em;
	margin-top: -.5em;
	padding: 1em;
	padding-left: 1em;
}