#space{
  height: 60px;
  width : auto;
}
body
{
  background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  background: -o-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  background: -ms-linear-gradient(top, #fefcea 0%, #f1da36 100%);
  background: linear-gradient(top bottom,  #fefcea 0%,#f1da36 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lucida-Sans',Helvetica,Arial;
}
header{
  padding-top: 5%;
}
.icr-img{
  border-radius: 3px;
  box-shadow: 0px 0px 5px #FFF;
  height: 1.2em;
  width: 1.5em;
}
footer
{
    background-color  : #8B0000;
    border-radius     : 5px 5px 0 0;
    border-top        : 1px solid #191616;
    bottom            : 0;
    -moz-box-shadow   : 1px 2px 11px #000;
    -webkit-box-shadow: 1px 2px 11px #000;
    -o-box-shadow     : 1px 2px 11px #000;
    clear             : both;
    height            : 45px;
    left              : 0;
    letter-spacing    : .1em;
    margin-top        : 70px;
    padding           : 0;
    position          : fixed;
    width             : 100%;
}
.ui-widget
{
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  max-width: 42em; 
}
.ui-combobox {
    position: relative;
    display: inline-block;
    font-size: 12px;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;    /* adjust styles for IE 6/7*/
    *height: 1.7em;
    *top: 0.1em;
    font-size: 12px;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
    font-size: 12px;
    width: 26em;
}
section
{
  margin-left: auto;
  margin-right: auto;
}
.table thead tr th{
  background-color: rgba(8,106,135,1);
  color: #FFF;
  text-align: center;
}
.table tbody{ background-color: rgba(255,255,255,1); }
.table tbody tr td
{
  padding-top: .2em;
  padding-bottom: .2em;
}
#fullscreen-icr{
  background-color: rgba(16,16,16,.8);
  cursor: wait;
  display: none;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#loading-icr{
  background-color: rgba(20,20,20,.6);
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(240,240,240,.3);
  color: #FFF;
  cursor: wait;
  font-weight: bold;
  font-family: monospace;
  margin-left: 40%;
  margin-top: 20%;
  padding: 1em;
  position: fixed;
  text-shadow: 0 0 1em rgba(255,255,255,.8);
  -webkit-text-shadow: 0 0 1em rgba(255,255,255,.8);
  -moz-text-shadow: 0 0 1em rgba(255,255,255,.8);
  -o-text-shadow: 0 0 1em rgba(255,255,255,.8);
  -ms-text-shadow: 0 0 1em rgba(255,255,255,.8);
  text-shadow: 0 0 1em rgba(255,255,255,.8);
}
@-webkit-keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0;}
}

@keyframes flash {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0;}
}
#loading-icr {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.hs{
  margin-top: .5em;
  margin-bottom: -.3em;
}
#msg{
  left: 50%;
  margin-left: -30%;
  margin-top: -20%;
  position: fixed;
  top: 50%;
}
#tc{
  text-align: center;
}